.myGigs {
  display: flex;
  justify-content: center;

  .container {
    width: 70%;
    padding: 50px 0;

    .title {
      display: flex;
      justify-content: space-between;
      align-items: center;

      button {
        background-color: #1dbf73;
        color: white;
        font-weight: 500;
        border: none;
        padding: 10px;
        cursor: pointer;
      }
    }

    table {
      width: 100%;

      th {
        text-align: left;
      }

      tr {
        height: 50px;

        td {
          .image {
            width: 50px;
            height: 50px;
            object-fit: cover;
            border-radius: 10px;
          }

          .delete {
            width: 20px;
            height: 20px;
            cursor: pointer;
          }
        }
        &:nth-child(even) {
          background-color: rgb(242, 242, 242);
        }
      }
    }
  }
}
