.login{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh;

    form{
        display: flex;
        flex-direction: column;
        width: 20%;
        gap: 10px;

        h1{
            color: rgb(60, 60, 60);
        }

        label{
            color: gray;
            margin-top: 10px;
        }
        

        input{
            padding: 15px 10px;
            border: 1px solid rgb(222, 222, 222);
            outline: none;    
        }

        button{
            padding: 15px 10px;
            outline : none;
            border: none;
            cursor: pointer;
            font-size: 16px;
            font-weight: bold;
            background-color: #1dbf73;
            color: white;

        }
    }
}